<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>categories</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#menu").load("resources/menu/menu.html");
        });
    </script>
</head>
<body>
<div id="menu">
</div>
<div align="center">
    <h1>Categories</h1>

    <br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>name category</th>
            <th>number of names </th>
            <th>amount of products</th>
            <th>average price</th>
            <th>minimum price</th>
            <th>maximum price</th>

        </tr></thead>
        <tbody>
        <tr th:each="category: ${categories}">

            <td th:text="${category.category}"></td>

            <td th:text="${category.numberNames}"></td>

            <td th:text="${category.sumproduct}"></td>

            <td th:text="${category.avgprice}"></td>

            <td th:text="${category.minprice}"></td>

            <td th:text="${category.maxprice}"></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>