<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainpage</title>
</head>
<body>

<div align="center">
    <h1>Products List</h1>
    <a href="/addproduct">Add product</a>
    <br>
    <br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>manufacturing firm</th>
            <th>sum amount products</th>
            <th>category</th>
            <th>amountth</th>
            <th>percentge of total</th>

        </tr></thead>
        <tbody>
        <tr th:each="manf: ${manfirm}">
            <td th:text="${manf.manFirm}"></td>

            <td th:text="${manf.sumamount}"></td>

            <td th:text="${manf.categories}"></td>

            <td th:text="${manf.amountcategor}"></td>

            <td th:text="${manf.percent}"></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>