<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>exsist</title>
    <link rel="stylesheet" th:href="@{/resources/css/mainmenu.css}">
</head>
<body>
<div th:replace="menu/menu :: navbar">
</div>>
<div id="wrapper"><span>
<div align="center">
    <h1>A unit with the such name already exists. </h1>
    <div th:text="${unit.name}"> </div>
    <a href="/addunit">Back</a>
    <a href="/listunits">Go back to list units</a>
</div>
</span></div>
</body>
</html>