<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">

    <h1>Add New Product</h1>
    <br/>
    <form action="#" th:action="@{/saveproduct}" th:object="${product}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Product Name:</td>
                <td><input type="text"  th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <form>
                        <select th:field="*{category_id}">
                            <option value="0">select category</option>
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Manufacturing firm:</td>
                <td>
                    <form>
                        <select th:field="*{manFirm_id}">
                            <option value="0">select firm</option>
                            <option th:each="manfirm : ${manfirms}" th:value="${manfirm.id}"
                                    th:text="${manfirm.name}"></option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Unit:</td>
                <td>
                    <form>
                        <select th:field="*{unit_id}">
                            <option value="0">select unit</option>
                            <option th:each="unit : ${units}" th:value="${unit.id}"
                                    th:text="${unit.name}"></option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Unit price:</td>
                <td><input type="text" th:field="*{unit_price}"/></td>
            </tr>
            <tr>
                <td>Amount:</td>
                <td><input type="text" th:field="*{amount}"/></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" id="datetime-local" th:field="*{dateTime}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" >Add</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/resources/js/date.js">
</script>

</body>
</html>