<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainpage</title>
    <link rel="stylesheet" th:href="@{/resources/css/mainmenu.css}">
    <link rel="stylesheet" th:href="@{/resources/css/buttonstyle.css}">
    <link rel="stylesheet" th:href="@{/resources/css/updatedeletestyle.css}">


</head>
<body>
<div th:replace="menu/menu :: navbar">
</div>
>


<div id="wrapper"><span>
<div align="center">

    <h1>Products List</h1>
    <a href="/addproduct" class="button28">Add product</a>
    <br>
    <br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>category</th>
            <th>man_firm</th>
            <th>unit</th>
            <th>unit price</th>
            <th>amount</th>
            <th>date of last delivery</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"></td>

            <td th:text="${product.name}"></td>

            <td th:text="${product.category_id.getName()}"></td>

            <td th:text="${product.manFirm_id.getName()}"></td>

            <td th:text="${product.unit_id.getName()}"></td>

            <td th:text="${product.unit_price}"></td>

            <td th:text="${product.amount}"></td>

            <td th:text="${#calendars.format(product.dateTime, 'dd/MM/yyyy')}"></td>

              <td>
                    <div class="container">
                  <a class="link" th:href="@{/editproduct/{id} (id=${product.id}) }"  >Update</a>


                  <a  class="link" th:href="@{/deleteproduct/{id} (id=${product.id}) }">Delete</a>
                         </div>

              </td>

        </tr>
        </tbody>
    </table>
</div>
    </span></div>

</body>
</html>