
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mainpage</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#menu").load("resources/menu/menu.html");
        });
    </script>

</head>
<body>
<div id="menu">
</div>


<div align="center">

    <h1>Products List</h1>
    <a href="/addproduct">Add product</a>
    <br>
    <br>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>category</th>
            <th>man_firm</th>
            <th>unit</th>
            <th>unit price</th>
            <th>amount</th>
            <th>date of last delivery</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"></td>

            <td th:text="${product.name}"></td>

            <td th:text="${product.category_id.getName()}"></td>

            <td th:text="${product.manFirm_id.getName()}"></td>

            <td th:text="${product.unit_id.getName()}"></td>

            <td th:text="${product.unit_price}"></td>

            <td th:text="${product.amount}"></td>

            <td th:text="${#calendars.format(product.dateTime, 'dd/MM/yyyy')}"></td>

            <!--            <td th:text="${#calendars.format(product.dateTime, 'dd/MM/yyyy')}"></td>-->
            <!--            <td>-->
            <!--                <a th:href="/@{'/update/' + ${product.id}}">Edit</a>-->
            <!--                &nbsp;&nbsp;&nbsp;-->
            <!--                <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>-->
            <!--            </td>-->

        </tr>
        </tbody>
    </table>
</div>
<!--    </span></div>-->

</body>
</html>