<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>already been deleted</title>
    <link rel="stylesheet" th:href="@{/resources/css/mainmenu.css}">
</head>
<body>
<div th:replace="menu/menu :: navbar">
</div>>
<div id="wrapper"><span>
<div align="center">
    <h1>Unfortunately, the product has already been deleted. </h1>
    <a href="/">Go back to list products</a>
</div>
</span></div>
</body>
</html>